@import '../docentes/docentes.component.css';
.form-card {
    max-width: 300px;
}

::ng-deep .mat-form-field-infix {
    width: 280px !important;
}

.chart{
    width: 90%;
    padding: 1.5rem;
    /* display: flex;
    justify-content: center; */
}