.btn-load{
    text-align: center;
    width: 100%;
    margin: 1rem;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert{
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    font-size: .8rem;
    margin: 1rem;
}