@import '../../summary/summary.component.css';

.btn-load{
    text-align: center;
    width: 100%;
    margin: 1rem;
}

.card-consult{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}