@import '../summary/summary.component.css';

.grafo{
    width: 55%;
    height: 600px;
    margin: .5rem;
    margin-bottom: 2rem;
}

.main-control{
    width: 35%;
    margin:.5rem;
    margin-bottom: 2rem;
}
.control-panel{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: .5rem;
}

.bars-control{
    width: 100%;
    min-height: 200px;
    max-height: 450px;
}

.goup-grafos{
    display: flex;
    justify-content: center;
    /* border-style: solid; */
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.option-consult{
    margin-bottom:.5rem;
}

.stadistic{
    width: 37%;
    height: 420px;
    margin: .5rem;
}
 
.mat-button-toggle-checked {
    background-color: #673ab7;
    color: #fff;
  }

@media( max-width: 678px ){
    .grafo{
        width: 90%;
    }
}