@import '../summary/summary.component.css';

.grafo{
    width: 37%;
    height: 500px;
    margin: .5rem;
}

.goup-grafos{
    display: flex;
    justify-content: center;
    /* border-style: solid; */
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.option-consult{
    margin:1rem;
}

@media( max-width: 678px ){
    .grafo{
        width: 90%;
    }
}