<div class="head-consult">
    <list-courses-students (sendbody)="getGrafos($event)" (sendcourse)="clear()"></list-courses-students>
</div>
<mat-divider></mat-divider>

<div class="goup-grafos" *ngIf="body.student">
    <div class="control-panel mat-elevation-z8">
        <!-- <div class="option-consult">
            <button mat-raised-button color="primary" (click)="getGrafosByDay()">Consulta por día</button>
            <button mat-raised-button (click)="getGrafosBySession()">Consulta por Sesión</button>
        </div> -->
        <div class="option-consult">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="dia">
                <mat-button-toggle value="dia" (click)="getGrafosByDay()" selected={true} >Consulta por día</mat-button-toggle>
                <mat-button-toggle value="session" (click)="getGrafosBySession()">Consulta por Sesión</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <mat-card>
            <mat-form-field>
                <mat-label>Opciones</mat-label>
                <mat-select [(ngModel)]="optionSelected">
                    <mat-option *ngFor="let option of grafoService.options" [value]="option"
                        (click)="getGrafoByOption(option)">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
    </div>

    <div class="grafo mat-elevation-z8" id="mynetwork"></div>
    <div class="grafo mat-elevation-z8" *ngIf="stadistics">
        <app-bars [labelTitle]="labelTable" [stadistics]="stadistics" (clearData)="clearStadistic()"
            [clearByRound]="cleanByRound"></app-bars>
    </div>
    <div class="grafo mat-elevation-z8" id="mynetwork2"></div>

</div>