<!-- <mat-card class="list-card"> -->
<div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Estudiante">
            <th mat-header-cell *matHeaderCellDef> Estudiante </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.student}} </td>
        </ng-container>
        <ng-container matColumnDef="#Videos">
            <th mat-header-cell *matHeaderCellDef> #Videos </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numVideos}} </td>
        </ng-container>
        <ng-container matColumnDef="#Contenidos">
            <th mat-header-cell *matHeaderCellDef> #Contenidos </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numContenido}} </td>
        </ng-container>
        <ng-container matColumnDef="#Foros">
            <th mat-header-cell *matHeaderCellDef> #Foros </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numForos}} </td>
        </ng-container>
        <ng-container matColumnDef="#Examanes">
            <th mat-header-cell *matHeaderCellDef> #Examanes </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numExamenes}} </td>
        </ng-container>
        <ng-container matColumnDef="#Sesiones">
            <th mat-header-cell *matHeaderCellDef> #Sesiones </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numSesiones}} </td>
        </ng-container>
        <ng-container matColumnDef="#SesionesDif">
            <th mat-header-cell *matHeaderCellDef> #SesionesDif </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numSesionesDif}} </td>
        </ng-container>
        <ng-container matColumnDef="#VideosDif">
            <th mat-header-cell *matHeaderCellDef> #VideosDif </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.numVideosDiferentes}} </td>
        </ng-container>
        <ng-container matColumnDef="T. Examen">
            <th mat-header-cell *matHeaderCellDef> T. Examen </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.timeExam}} </td>
        </ng-container>
        <ng-container matColumnDef="T. Videos">
            <th mat-header-cell *matHeaderCellDef> "T. Videos" </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.timeVideos}} </td>
        </ng-container>
        <ng-container matColumnDef="T. Otros">
            <th mat-header-cell *matHeaderCellDef> T. Otros </th>
            <td mat-cell *matCellDef="let indicator"> {{indicator.timeOthers}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>

<!-- </mat-card> -->